.header {
    background-color: #dddddd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100%;
    .nav {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #eeeeee;
        text-align: center;
        h3 {
            display: inline;
        }
        ul {
            li {
                list-style: none;
            }
        }
    }
    .slogan {
        background-color: pink;
        grid-column: 1 / 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

.main {
    .section1 {
        .img {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 100%;
            img {
                width: 100%;
            }
        }
    }
    
}

@media screen and (min-width: 700px) {
    .header {
        .nav {
            h3 {
                display: inline;
            }
            ul {
                display: inline;
                li {
                    display: inline-block;
                    list-style: none;
                }
            }
        }
        .slogan {
            grid-column: 1;
        }
    }
    .main {
        .section1 {
            .img {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                img {
                    width: 100%;
                }
                img:nth-child(5) {
                    grid-column: span 2
                }
                img:nth-child(6) {
                    grid-column: span 2
                }
            }
        }
    }
}